
body{
  background-color: purple;
}
.titulo{
  color: yellow;
  font-style: italic;
  text-align: center;
  font-family: Chancery;
}
.menu{
  font-family: Arial Black;
  display:   inline;
  position:relative;


}
/* li{
  text-align:center;
  color: yellow;

} */
.menu-principal{
  background-color: purple;
  /* margin-left;
  font-display: swap;
  padding-right: 0;
  font-family: Georgia, serif;
  text-align: center;
  color: yellow;
  box-sizing: border-box; */
}
.botao_meu{
margin-right: auto;
align: right;

}
.imagem{
  text-align: center;
  /* display: block; */
  clear:bold;
  float: left;
  margin: 0 10px 10px 0;
}
.menu-contato{

  float: right;

  background-color: purple;
  font-size: 0;
}
.gem-contacts-item{
  
  float: right;
  color: white;
  font-family: monospace,sans-serif;
}
.icones-sociais{
  margin: 0;
  clear: right;

}
a{
  font-size: 0px;
}
.facebook{
  background-image: url(../img/facebook.jpg);

}
.instagram{
  background-image: url(../img/instagram.jpg);
}


footer {
  background-color: #000;
  color: #F2FFFC;
  bottom: 0;
  margin-left: left;
  position:  fixed;
  width: 98%;
  text-align: left;

}
