
body{
  background-color: purple;
}
.titulo{
  color: yellow;
  font-style: italic;
  text-align: center;
  font-family: Chancery;
}
.menu{
  font-family: Arial Black;
  display:   inline;
  position:relative;
}

.menu-principal{
  background-color: purple;

}
.botao_meu{
margin-right: auto;
align: right;

}
.imagem{
  text-align: center;
  /* display: block; */
  clear:bold;
  float: left;
  margin: 0 10px 10px 0;
}
.menu-contato{
  float: right;

  background-color: purple;
  font-size: 0;
}
.gem-contacts-item{
  float:   right;
  color: white;
  font-family: monospace,sans-serif;
}
.icones-sociais{
    float: right;
}

.facebook{
  background-image: url(../img/facebook.jpg);
  background-color:purple
  margin-right: 2px;
  font-size: 0px;
  max-width:35px;
  max-height:35px;
  width: auto;
  height: auto;
}
.instagram{
  background-image: url(../img/instagram.jpg);
  background: purple
  margin-right: 2px;
  font-size: 0px;
  max-width:35px;
  max-height:35px;
  width: auto;
  height: auto;
}

/* footer {
  background-color: #000;
  color: #F2FFFC;
  bottom: 0;
  margin-left: left;
  position:  fixed;
  width: 98%;
  text-align: left;

} */
