
body{
  background-color: purple;
}
.titulo{
  color: yellow;
  font-style: italic;
  text-align: center;
  font-family: Chancery;
}
.menu{
  margin-left;
}
.imagem{
  text-align: center;
  /* display: block; */
  clear:bold;
  float: left;
  margin: 0 10px 10px 0;
}
footer {
  background-color: #000;
  color: #F2FFFC;
  bottom: 0;
  margin-left: left;
  position:  fixed;
  width: 98%;
  text-align: left;

}
